@import '_lightsabers.scss';
@import '_theforce.scss';
@import '_universe.scss';

html, body {
    background-color: $--bg-color;
    font-family: courier-prime, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}
